/* HomeTRMovies.css */

.home-tr-movies {
    margin: 20px 0;
    padding: 20px;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: left; /* Aligns title to the left */
    padding-left: 20px; /* Add padding if needed */
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.movie-card-container {
    flex: 0 0 auto;
    transition: transform 0.5s ease-in-out;
}

.prev-slide,
.next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    z-index: 1;
    opacity: 0.6; /* Set initial opacity */
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.prev-slide {
    left: 10px;
}

.next-slide {
    right: 10px;
}

.prev-slide:hover,
.next-slide:hover {
    background: rgba(0, 0, 0, 0.8); /* Darker background on hover */
    opacity: 1; /* Make fully visible on hover */
    transform: scale(1.1); /* Slight scale-up effect */
    color: #ffcc00; /* Change arrow color to highlight on hover */
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

